.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comma-list {
  & > *::after { content: ", "; }
  & > *:last-child::after { content:""; }
}

@navbar-height: 73px;

body {
  background: url('/img/grid_noise.png');
  background-attachment: fixed;
}
.bb-puzzleround, .bb-chat-messages {
  margin-top: 40px; /* allow space for breadcrumbs in navbar */
}
.bb-chat-messages {
  margin-bottom: 26px; /* 41px navbar - 15px padding on #bb-body */
}
#bb-body {
  padding-top: @navbar-height;
  padding-bottom: 15px;

  @left-size: 85px;
  @right-size: 45px;
  @vert-padding: 4px;

  .bb-buttonbar {
    text-align: right;
    padding-right: 5px;
    .btn-group { text-align: left; }
    .btn-toolbar { margin-top: 0; margin-bottom: 0; }
    .tooltip-inner {
      color: #000;
      background-color: #eee;
      border-color: black;
      border-style: solid;
      border-width: 0 1px 1px 1px;
    }
    .tooltip.bottom .tooltip-arrow {
      border-bottom-color: #eee;
    }
  }
  .bb-lastchat, .bb-lastupdate {
    margin-bottom: @vert-padding;
    margin-top: @vert-padding;
    padding: 0 (15px + @right-size) 0 (14px + @left-size);
    .left { margin-left: (-@left-size); }
    .right { margin-right: (-@right-size); }
    &, .messageRow { .ellipsis; }
  }
  .bb-lastchat .messageRow {
    margin-top: 0;
    margin-bottom: 0;
    font: 90%;
    line-height: 1.2;
  }
  .bb-lastchat, .bb-lastupdate {
    .timestamp { color: #555; }
  }
  .bb-lastupdate {
    .comma-list { text-transform: uppercase; }
  }
}
#bb-sidebar {
  .bb-sidenav {
    margin-top: 10px;
    background-color: #fff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
       -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
            box-shadow: 0 1px 4px rgba(0,0,0,.065);
    border: 1px solid #e5e5e5;

    position: fixed; /* for wide screens */

    li.nav-header, li > a { .ellipsis; }

    /* Chevrons */
    .icon-chevron-right {
      float: right;
      margin-top: 2px;
      margin-right: -6px;
      opacity: .25;
    }
  }
}
#bb-tables {
  background: white;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
          box-shadow: 0 1px 4px rgba(0,0,0,0.065);

  section {
    /* Indent our sections to start underneath the chat/update log */
    padding-top: @navbar-height;
    margin-top: (-@navbar-height);
  }
  h2 {
    border-bottom: 1px solid #e5e5e5;
  }
  font-size: 93%; /* 13px for body text */
  h2,h3 {
   font-size: 130%;
   margin-top: 0;
   margin-bottom: 0;
  }
  dl {
    margin: 0;
    &:empty { display: none; }
    /* narrower tag names */
    @tag-width: 120px;
    dt { width: @tag-width; }
    dd { margin-left: (@tag-width + 10px); }
  }
  .bb-puzzle {
    margin-bottom: 0;
    th { background: #f8f8f8; }
    .answer {
      font-family: 'Andale Mono', Courier, monospace;
      text-transform: uppercase;
    }
    .bb-tag-table {
      font-size: 90%;
      border-collapse: collapse;
      &, td, tr { border: none; }
      td { padding: 0 3px; margin: 0; }
    }
    td,th { padding-top: 0; padding-bottom: 0; }
    /* try to make table spacing more-or-less consistent */
    td,th {
      width: 10%;
      &.puzzle-name, &.puzzle-answer { width: 35%; }
      &.puzzle-update { width: 100px; min-width: 100px; }
    }

    .puzzle-working {
      .background { color: #ccc; }
    }
    td.puzzle-update {
      font-size: 85%;
    }
  }
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
}

/* Desktop
------------------------- */
@media (max-width: 979px) {
  /* navbar becomes unfixed below 980px */
  .navbar-fixed-top, .bb-chat-messages { margin-bottom: 0; }
  .navbar-fixed-bottom, .bb-chat-messages, .bb-puzzleround { margin-top: 0; }
  #bb-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  #bb-tables {
    section {
      padding-top: 0;
      margin-top: 0;
    }
  }
  #bb-sidebar {
    .bb-sidenav {
      /* unfix sidebar */
      position: static;
      width: 100%;
    }
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  .container-fluid > .navbar-fixed-top {
    /* compensate for 20px of padding on container-fluid */
    margin-left: -20px;
    margin-right: -20px;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Sidenav */
  #bb-sidebar {
    .bb-sidenav {
      width: auto;
      margin-bottom: 20px;
      &.affix {
        position: static;
        width: auto;
        top: 0;
      }
    }
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }
}
