.navbar-inverse .navbar-inner {
    box-shadow: 0px 2px 4px #777;
}

.bb-content-area {
  background-color: white;
  box-shadow: 0px 2px 4px #777;
}
.bb-puzzleround {
  .bb-content-area;
}
.bb-chat-messages {
  .bb-content-area;
  & > p {
    padding: 4px; border-radius:5px;
    &.messageRow:nth-child(even) {
      background-color: #eee;
    }
  }
}
.messageRow, .actionRow {
  color: #666; font-size: 1.2em; margin: 4px 5px;
  & > strong {
    margin-right: 5px;
  }
}
.actionRow {
  font-style: italic;
  background-color: rgb(244,255,253);
  color: rgb(4,121,170);
}
.timestamp {
  font-size: .65em; color: #049cdb;
}
.systemRow {
  margin: 0; font-size: .8em; color: #aaa; padding: 1px 4px!important;
}

.bb-chat-footer {
  &.navbar-inverse .navbar-inner {
    //background-image:url(/img/darkdenim3.png);
  }
  form {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.modal {
  margin: -100px 0 0 -280px !important; display:none;
  .warning {
    color: red; margin-bottom: 10px;
  }
}

.inline-image {
  max-width: 200px;
  max-height: 200px;
}

.inline-image:hover {
  max-width: 2000px;
  max-height: 2000px;
}

.highlight-nick {
  color: #0000ff;
}
